BasedOnStyle: Microsoft
Cpp11BracedListStyle: true
IndentWidth: 4
ColumnLimit: 160
ContinuationIndentWidth: 4
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
NamespaceIndentation: All
AllowShortBlocksOnASingleLine: Empty
IndentCaseLabels: true
ArrayInitializerAlignmentStyle: Left
AllowAllParametersOfDeclarationOnNextLine: false
InsertBraces: true
InsertNewlineAtEOF: true
SortIncludes: false
KeepEmptyLines:
    AtEndOfFile: false
    AtStartOfBlock: false
    AtStartOfFile: false
BreakBeforeBraces: Allman
InsertTrailingCommas: None
ReflowCommentsStyle: IndentOnly
AlignArrayOfStructures: Left
SeparateDefinitionStyle: Always
SpaceAroundPointerQualifiersStyle: Default
DerivePointerAlignment: true
SpacesInAnglesStyle: Never
IndentPPDirectives: BeforeHash
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always
