BasedOnStyle: Microsoft
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
ColumnLimit: 160
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: true
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: None
KeepEmptyLines:
    AtEndOfFile: false
    AtStartOfBlock: false
    AtStartOfFile: false
NamespaceIndentation: All
ReflowComments: IndentOnly
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always
SortIncludes: false
SpaceAroundPointerQualifiers: Default
SpacesInAngles: Never
